.comment-item {
  margin-top: 10px;
  display: flex;
  gap: 15px;

  &-avatar {
    margin-top: 10px;
    flex: 0 0 34px;
    height: 34px;
    width: 34px;
    background-color: #dadada;
    border-radius: 50%;
  }
  &-body {
    border-top: 1px solid #dadada;
    padding: 10px 0;
    flex: 0 0 90%;
    .comment-header {
      justify-content: space-between;
      align-items: baseline;
      .comment-buttons {
        transition: all 0.3s;
        gap: 10px;
        opacity: 0;
        button {
          background: transparent;
          i {
            transition: 0.3s;
            color: #c5c5c5;
            font-size: 14px;
            &:hover {
              color: #000000;
            }
          }
        }
      }
    }
    .author {
      margin-bottom: 10px;
    }
    .text {
      margin-bottom: 10px;
    }

    .data-info {
    }
  }
  &:hover .comment-buttons {
    opacity: 1;
  }
}
